* {
    margin: 0;
    padding: 0;
}

form {
    color: #999;
    width: 90%;
}

input, textarea {
    border-radius: 5px;
}

textarea {
    max-width: 310px;
    max-height: 150px;
    min-width: 200px;
    min-height: 20px;
}

input[type="submit"] {
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    background: #069370;
    color: #000;
    font-size: 16px;
    border-radius: 4px;
    transition: .3s;
}

input[type="submit"]:hover {
    background: #0dd3a1;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 30px;
    width: 80%;
    padding: 20px;
}

footer .container .sec.sobre {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #069370;
}

footer p {
    color: #999;
    width: 90%;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #069370;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.links_rapidos {
    position: relative;
    width: 25%;
}

.links_rapidos ul li {
    list-style: none;
}

.links_rapidos ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.links_rapidos ul li a:hover {
    color: #fff;
}

.contato {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contato .info {
    position: relative;
}

.contato .info li {
    display: flex;
    margin-bottom: 16px;
}

.contato .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contato .info li span {
    color: #999;
}

.contato .info li a {
    color: #999;
    text-decoration: none;
}

.contato .info li a:hover {
    color: #fff;
}

.direitos {
    width: 100%;
    background: #181818;
    padding: 8px 0px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.sobre, .links_rapidos, .contato {
        width: 100%;
    }
}