* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section.sec {
  width: 100%;
  height: 90vh;
}

.sec .slider {
  width: 100%;
  height: 90vh;
  animation: slide 20s infinite;
}

@keyframes slide {
  0%, 100% {
    background: url("/img/slide-flor-rosa.jpg");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("/img/slide-rosa.jpg");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("/img/slide-buque-claro.jpg");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("/img/slide-flores-no-sol.jpg");
    background-position: center;
    background-size: cover;
  }
}

.slider-title h1 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: #069370;
}

/* início do slider */

.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}

.slide-img {
  position: relative;
  height: 450px;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.type {
  display: flex;
  flex-direction: column;
}

.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span {
  color: rgba(26, 26, 26, 0.5);
}

.price {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 155, 129, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.overlay a {
  text-decoration: none;
}

.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
  color: #fff;
  background-color: #f15fa3;
  transition: all ease 0.3s;
}

.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fim do slider */

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.flowers-main, .decoration-main {
  width: 650px;
  max-width: 850px;
  height: 440px;
  margin: 20px 0px;
}

.main-line {
  height: 5px;
  width: 80px;
  background: #069370;
  margin: 15px 12px;
  border-radius: 2px;
  opacity: .8;
}

.flowers-main {
  background: url("/img/rosa-negra.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  margin-left: 80px;
}

.flowers-main h1, .decoration-main h1 {
  font-weight: bold;
  color: #fff;
  margin: 12px 0 8px 12px;
  font-size: 25px;
}

.flowers-main p, .decoration-main p {
  color: #fff;
  font-size: 15px;
  margin: 12px;
  width: 60%;
  max-width: 60%;
}

.decoration-main {
  background: url("/img/decoração-com-flores-penduradas.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  margin-right: 80px;
}

@media (max-width: 1500px) {
  .flowers-main, .decoration-main {
    width: 550px;
    max-width: 550px;
    height: 340px;
    margin: 20px 40px;
  }
}

@media (max-width: 1280px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }
  .flowers-main, .decoration-main {
    width: 80vw;
    max-width: 850px;
    margin: 20px 0;
  }
}